<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>UniSalas</title>
  <link rel="stylesheet" href="/styles/styleA.css"/>
</head>

<body>

<header>
  <h1>UniSalas</h1>
</header>

<!-- HERO con parallax -->
<section class="hero">

  <!-- Fondo (carrusel dinámico) -->
  <div id="carousel" class="parallax-bg"></div>

  <!-- Tarjeta principal -->
  <div class="hero-card animate-fade">
    <h2>Gestiona tus Espacios<br>Académicas</h2>

    <p>
      Bienvenido al portal oficial reserva de salas del Universidad.<br>
      Consulta el espacio para estudiar, trabajar o conferencias.
    </p>

    <button>Explorar Salas</button>
  </div>

</section>

<h2 class="steps-title animate-up">Un Proceso Senciclo y Eficaz</h2>

<section class="container steps">
  <div class="step-box animate-up">
    <h3>1. Consulta</h3>
    <div class="step-line"></div>
    <p>Verifica disponibilidad de aulas,<br>laboratorios y más.</p>
  </div>

  <div class="step-box animate-up delay-1">
    <h3>2. Reserva</h3>
    <div class="step-line"></div>
    <p>Selecciona tu espacio y horario<br>en pocos clics.</p>
  </div>

  <div class="step-box animate-up delay-2">
    <h3>3. Confirma</h3>
    <div class="step-line"></div>
    <p>Recibe confirmación inmediata<br>en tu correo estudiantil.</p>
  </div>
</section>

<footer>
  Contacto: info@unisalas.edu | Tel: 
</footer>

<script src="carrucel.js"></script>
</body>
</html>