<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="/styles/styleF.css">
</head>

<body>

    <header class="header-unisala">
        <div class="logo">Unisala</div>
        <nav class="nav-menu">
            <a href="#" class="nav-item">
                <img src="/views/formulario/img/ic4.png" alt="Home icon"">Home</a>
            <a href=" #" class="nav-item">
                <img src="/views/formulario/img/ic5.png" alt="About Us icon"> About Us</a>
            <a href="#" class="nav-item" style="border: 2px;">
                <img src="/views/formulario/img/ic6.png" alt="Perfil icon"></a>
        </nav>
    </header>

    <div class="contenedor-formulario">
        <h2 class="titulo-principal">RESERVA TU SALA</h2>

        <h3>Datos del usuario</h3>
        <form class="DatosUsuario">
            <input type="text" id="id-usuario" placeholder="ID de usuario" maxlength="9">
            <input type="text" id="nombre-completo" placeholder="Nombre completo" maxlength="50">
            <input type="text" id="grupo" placeholder="Grupo" maxlength="4">
        </form>

        <hr class="separador-sutil">

        <form class="DatosReserva">
            <h3>Detalles de la reserva</h3>
            <select id="lugar">
                <option value="" disabled selected>Seleccione un lugar</option>
                <option value="sala1">Sala de Cómputo 1</option>
                <option value="sala2">Sala de Cómputo 2</option>
                <option value="sala3">Laboratorio de Electrónica-IA</option>
                <option value="sala4">Laboratorio de Cómputo</option>
            </select>

            <div style="margin-top: 15px; margin-bottom: 5px;">
                <label>Seleccione una fecha:</label>

                <form class="fecha">
                    <input type="date">
                </form>
            </div>

            <form class="hora">
                <label style="margin-right: 5px;">Horario: De</label>
                <input type="time" id="hora-inicio" min="08:00" max="18:00" required>
                <label style="margin-left: 5px; margin-right: 5px;">a</label>
                <input type="time" id="hora-fin" min="08:00" max="18:00" required>
            </form>

            <div class="Proposito">
                <label for="proposito">Motivo:</label>
                <textarea id="proposito" placeholder="Máximo 200 caracteres..." maxlength="200"></textarea>
            </div>
        </form>

        <div class="acciones-finales">
            <label class="checkbox-container">
                <input type="checkbox" checked required>
                Acepto hacerme responsable del cuidado de los equipos así como del espacio durante mi reserva.
                <br>
            </label>
            <button class="boton-reservar">Reservar</button>
        </div>


</body>

</html>