<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniSala</title>
    <link rel="stylesheet" href="/styles/Estilos.css">
</head>
<body>

    <!-- NAVBAR -->
    <header class="navbar">
        <div class="logo">UniSala</div>
        <nav>
            <a href="../Principal/inicio.html">Home</a>
            <a href="#" class="home-icon" style="font-size:25px;">🏠</a>
        </nav>
    </header>

    <!-- CONTENIDO PRINCIPAL -->
    <section class="main-section">
        <h1>Selecciona tu Sala de Cómputo</h1>
        <p class="subtitle">Elige la sala que necesitas</p>

        <div class="cards-container">

            <!-- TARJETA 1 -->
                    <a href="../formulario/formulario.html" class="card-link">
                <div class="card">
                    <div class="icon-circle">
                        <img src="https://img.icons8.com/ios-filled/100/0d6efd/monitor.png" alt="IA Icon">
                    </div>
                    <h2>Laboratorio de Cómputo-IA  </h2>
                    <p>Inteligencia Artificial y Machine Learning</p>
                </div>
            </a>

            <!-- TARJETA 2 -->
                    <a href="../formulario/formulario.html" class="card-link">
                <div class="card">
                    <div class="icon-circle">
                        <img src="https://img.icons8.com/ios-filled/100/0d6efd/monitor.png" alt="Electrónica Icon">
                    </div>
                    <h2>Laboratorio de Electrónica</h2>
                    <p>Programación de sistemas embebidos</p>
                </div>
            </a>

             <!-- TARJETA 3 -->
                    <a href="../formulario/formulario.html" class="card-link">
                <div class="card">
                    <div class="icon-circle">
                        <img src="https://img.icons8.com/ios-filled/100/0d6efd/laptop.png" alt="IA Icon">
                    </div>
                    <h2>Sala 1</h2>
                </div>
            </a>

            <!-- TARJETA 4 -->
                    <a href="../formulario/formulario.html" class="card-link">
                <div class="card">
                    <div class="icon-circle">
                        <img src="https://img.icons8.com/ios-filled/100/0d6efd/laptop.png" alt="Electrónica Icon">
                    </div>
                    <h2>Sala 2</h2>
                </div>
            </a>

        </div>
    </section>

</body>
</html>